* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: Gotham Pro;
  src: url(../GothamPro/GothamPro.ttf);
}
h2 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  color: #FFFFFF;
}
h3 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  color: #FBFBFB;
}
h4 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #3B2D40;
}
h5 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}
.show {
  opacity: 1 !important;
  transition-duration: 0.3s !important;
}
.none {
  opacity: 0 !important;
  transition-duration: 0.3s !important;
}
.fadeOut {
  display: none !important;
}
.fadeIn {
  display: block !important;
}
