@import "generalStyles";

.wrapp {
    .content {
        .test-screen {
            .block-content-parent();
            background-image: url(../images/test/1.png);
            background-size: cover;
            opacity: 1;
            .content {
                .block-content();
                &-top {
                    .block-content-top();
                    &__left {
                        .block-content-top-left(); 
                        p {
                            .block-content-top-left-p();
                        }
                    }
                    &__right {
                        .block-content-top-right(); 
                    }
                }
                &-text {
                    h3 {
                        .block-question-content-text-h3();
                        bottom: 175px !important;
                    }
                    p {
                        position: absolute;
                        bottom: 117px;
                        left: 0;
                        padding: 0 0 0 20px;
                        font-family: Gotham Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 120%;
                        color: #FBFBFB;
                    }
                }
                &-btn {
                    .block-question-content-btn();
                    button {
                        margin: 0 7px;
                        .btn-pink-small();
                        width: 335px !important;
                    }
                }
            }
        }
        .question-screen {
            width: 100%;
            height: 100vh;
            background-size: cover;
            overflow-y: scroll
            .back();
            position: relative;
            opacity: 0;
            transition-duration: 0;
            .top {
                width: 100%;
                height: 135px;
                background-image: url(../images/test/Group\ 46.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                position: relative;
                &-btn {
                    width: 325px;
                    height: 32px;
                    margin: 0 auto;
                    padding-top: 35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    &__left {
                        width: 67px;
                        height: 32px;
                        background-image: url(../images/screen3/right-arrow\ 2.png);
                        background-repeat: no-repeat;
                        background-position: 0 center;
                        background-size: 10%;
                        cursor: pointer;
                        transition: 0.5s;
                        p {
                            font-family: Gotham Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 32px;
                            display: flex;
                            align-items: center;
                            color: #FFFFFF;
                            position: relative;
                            right: -23px;
                        }
                    }
                    &__right {
                        width: 33px;
                        height: 33px;
                        background-image: url(../images/screen3/library.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                        cursor: pointer;
                        transition: 0.5s;
                    }
                }
                &-text {
                    position: absolute;
                    bottom: 10px;
                    left: 20px;
                }
            }
            .content {
                width: 100%;
                height: auto;
                .text {
                    &-number {
                        margin: 24px 0 5px;
                        padding: 0 20px;
                    }
                    &-header {
                        padding: 0 20px 24px;
                        p {
                            font-family: Gotham Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 120%;
                            color: #3C134A;
                        }
                    }
                    &-list {
                        padding: 0 20px 75px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
                        z-index: 10;
                        .radio {
                            font-family: Gotham Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            color: #3B2D40;
                            padding-bottom: 24px;
                        }
                        .radio input[type=radio] {
                            display: none;
                        }
                        .radio label {
                            display: inline-block;
                            cursor: pointer;
                            position: relative;
                            padding-left: 25px;
                            margin-right: 0;
                            line-height: 18px;
                            user-select: none;
                        }
                        .radio label:before {
                            content: "";
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            background-image: url(../images/screen2/off.png);
                            background-size: 75%;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        .radio input[type=radio]:checked + label:before {
                            background: url(../images/test/on.png);
                            background: url(../images/test/on.png);
                            background-size: 130%;
                            background-repeat: no-repeat;
                            background-position: center top;
                        }
                        .radio label:hover:before {
                            filter: brightness(120%);
                        }
                        .radio input[type=radio]:disabled + label:before {
                            filter: grayscale(100%);
                        }
                    }
                }
                .btn {
                    width: 375px;
                    height: 108px;
                    background-image: url(../images/test/bottom.png);
                    background-position: right bottom;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    &-left {
                        width: 67px;
                        height: 32px;
                        background-image: url(../images/screen3/Vector.png);
                        background-repeat: no-repeat;
                        background-position: 10% center;
                        background-size: 10%;
                        cursor: pointer;
                        transition: 0.5s;
                        margin-left: 20px;
                        p {
                            font-family: Gotham Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 32px;
                            display: flex;
                            align-items: center;
                            color: #3C134A;
                            position: relative;
                            right: -23px;
                            border-right: 2px solid #3C134A;
                        }
                    }
                    &-right {
                        width: 233px;
                        height: inherit;
                        background-image: url(../images/test/forward.png);
                        background-repeat: no-repeat;
                        cursor: pointer;
                        transition: 0.5s;
                        position: relative;
                        background-size: 25%;
                        background-position-x: 160px;
                        background-position-y: center;
                        p {
                            font-family: Gotham Pro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 120%;
                            color: #999999;
                            position: absolute;
                            right: 90px;
                            top: 40px;
                        }
                    }
                }
            }
        }    

        button:focus {
            outline: none;
        }

    }
}

@media (max-height: 570px) {
    .test-screen {
        .content {
            .bg {
                .content-text {
                    h3 {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}

.back-color {
    background-image: url(../images/screen3/bottom.png) !important;
}

.btn-color {
    background-image: url(../images/screen3/forward.png) !important;
    background-position: right center !important;
    background-size: contain !important;
}

.text-color {
    color: #3C134A !important;
}